In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("leadscore_dataset.csv")

In [6]:
df.head()

,business_unit,lead_contact,title,job_level,industry,team,channel,lead_product,sales_qualified
0,business_unit_1,Contact,Billing Coordinator,Staff-Level,Assisted Living Facility,team_1,Webinar,product_7,0
1,business_unit_1,Contact,Billing Specialist,Staff-Level,Home Health,team_1,Webinar,product_27,0
2,business_unit_1,Lead,Executive Director,NaN,Assisted Living Facility,team_1,MDR Meeting,product_40,0
3,business_unit_1,Contact,Billing,NaN,Ambulatory Health Care Facilities,team_2,Inbound Call,product_1,0
4,business_unit_1,Lead,Billing Director,Director-Level,Physician,team_3,Webinar,product_27,0

In [8]:
df.shape

(10000, 9)

In [11]:
df.dtypes

business_unit      object
lead_contact       object
title              object
job_level          object
industry           object
team               object
channel            object
lead_product       object
sales_qualified     int64
dtype: object

In [33]:
df.sales_qualified.value_counts()

sales_qualified
0    8637
1    1363
Name: count, dtype: int64

In [36]:
df.isnull().sum()

business_unit         0
lead_contact          0
title               957
job_level          4967
industry             58
team                  0
channel               0
lead_product          3
sales_qualified       0
dtype: int64

### Exploratory Data Analysis