In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('healthcare_sales_dataset.csv')

In [3]:
df.head()

,product_id,company_id,transaction_id,product_name,product_category,sale_amount,quantity_sold,price_per_unit,uom,address,region,customer_segment,sales_rep_name,date_of_sale,multiple_items
0,PMFTMGPWLK,hospital_20,KH9NHAKRFF,Gauze Sponges,Medical Devices,463.07,85,5.45,packs,"Washington, DC",Northeast,Hospital,Christopher Flores,8/5/2024,0
1,B2L09J6I8B,clinic_3,6XGV4E1D36,Scalpel Blades,Surgical Supplies,387.87,12,32.32,pieces,"Chicago, IL",Midwest,Clinic,John Ponce,4/22/2024,1
2,TLJFSQ5K16,clinic_10,OGEAMK0FW0,Disposable Gloves,Medical Devices,336.95,26,12.96,boxes,"Minneapolis, MN",Midwest,Clinic,Thomas Silva,9/30/2024,1
3,3BDN23AHDX,hospital_2,Y68IXY4B8S,"Syringes, 50ml",Surgical Supplies,254.99,17,15.00,boxes,"Boston, MA",Northeast,Hospital,Megan Chang,5/20/2024,0
4,3BDN23AHDX,clinic_8,3GU73WIOON,"Syringes, 50ml",Medical Devices,291.24,66,4.41,boxes,"Los Angeles, CA",West,Clinic,William Sullivan,5/13/2024,1

In [4]:
df.shape

(10000, 15)

In [5]:
df.dtypes

product_id           object
company_id           object
transaction_id       object
product_name         object
product_category     object
sale_amount         float64
quantity_sold         int64
price_per_unit      float64
uom                  object
address              object
region               object
customer_segment     object
sales_rep_name       object
date_of_sale         object
multiple_items        int64
dtype: object

In [6]:
df.multiple_items.value_counts()

multiple_items
1    7258
0    2742
Name: count, dtype: int64

In [7]:
df.isnull().sum()

product_id          0
company_id          0
transaction_id      0
product_name        0
product_category    0
sale_amount         0
quantity_sold       0
price_per_unit      0
uom                 0
address             0
region              0
customer_segment    0
sales_rep_name      0
date_of_sale        0
multiple_items      0
dtype: int64

### Exploratory Data Analysis